__pycache__/
.pytest_cache
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.continue/
.qodo/
app/
tree_proj.md
1.py
2.py
check_and_fix_missing_assignments.py
check_user.py
clear_db.py
docs/
clear_redis.py
debug_db.py
redis_data.json
PROMPTS/
run_cleanup.py
tests/.pytest_cache/
tests/__pycache__/
.coverage
.qwen/
t_aiohttp.py
t_dns/
.vscode
test_del_topic.py
test_topic_edit.py
test_topic_silent.py
logs/
deploy/
shared/
scripts/
docker-compose.yml
bot.py
cleaner.py
monitor.py
sender.py
tools/
QWEN.md
session-analysis-mode.json
connect.py
.clinerules
.cursorignore
.cursorindexingignore
GUIDELINES.md
